[Unit]
Description=Timer based logger for CPU and memory usage

[Service]
Type=oneshot
ExecStart=/usr/local/bin/s04.sh

[Install]
WantedBy=multi-user.target
